@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@font-face {
    font-family: 'tactic_sansmedium_italic';
    src: url('../assets/images/tacticsans-med.woff') format('woff2'),
         url('../assets/images/tacticsans-med.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'volksans_testregular';
    src: url('../assets/images/volksanstest-regular-bf63eee6e3c8d0e.woff2') format('woff2'),
         url('../assets/images/volksanstest-regular-bf63eee6e3c8d0e.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.head-1 {
   font-family: 'tactic_sansmedium_italic';
}
.connect-bg {
  background-image: url(../assets/images/connect-bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
}
.font-secondry {
  font-family: 'volksans_testregular';
  font-weight: normal;
}